
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

  
  *{
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  body {
    background-color: hsl(220, 15%, 55%);
  }

  .outer-box {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%; 
    width:300px;
    border-radius: 12px;
    height: 450px;
  }

  .qr-image {

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 18px;
    margin-bottom: 15px;
   

  }

  .bold-text{
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Outfit', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
  }

  .simple-text{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color: hsl(212, 45%, 89%);
    padding-left: 12px;
    padding-right: 12px;
  }